<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Mi App de Tareas - {% block title %}{% endblock %} </title>
    {% endblock %}
</head>
<body>
    <div class="header">
        {% block header %}
        <a href="{{ url_for('index') }}">
            <img src="../static/images/logo1.png" alt="logo">
        </a>
        {% endblock %}
    </div>


    {% block content %}
    <!-- Bloque de Contenido -->
    {% endblock %}

    
    <div class="footer">
        {% block footer %}
        <a href="{{ url_for('index') }}">
            <img src="../static/images/logo1.png" alt="logo">
        </a>
        {% endblock %}
    </div>
</body>
</html>